.filter__form {
  padding: 20px;
  background-color: #f2f2f2;
}

.filter__form--wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.filter__settings {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(#283645, 0.1);
}

.filter__btn--submit {
  margin-bottom: 12px;
}

.filter__icon {
  fill: #d22856;
}

.filter__item input {
  width: 100%;
}

@media (min-width: 660px) {
  .filter__form {
    padding: 0;
  }
  .filter__settings {
    border-bottom: none;
  }
  .filter__form--wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 660px;
    padding: 54px 20px;
    margin: 0 auto;
  }
  .filter__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 260px;
  }
  .filter__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid rgba(#283645, 0.1);
    input {
      width: 100%;
    }
    &:first-child {
      padding-top: 0;
    }
  }
  .filter__settings {
    margin-bottom: auto;
  }
  .filter__image {
    width: 300px;
    height: 400px;
  }
  .filter__btn--submit {
    margin-bottom: 24px;
  }
  .filter__icon {
    margin-right: 29px;
    &:nth-child(1) {
      width: 22px;
      height: 22px;
    }
    &:nth-child(2) {
      width: 24px;
      height: 22px;
    }
    &:nth-child(3) {
      width: 16px;
      height: 16px;
    }
  }
}

@media (min-width: 1200px) {
  .filter__form {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #fff;
  }
  .filter__form--wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 60px;
    margin-left: 130px;
    margin-right: 130px;
    background-color: #f2f2f2;
  }
  .filter__icon {
    margin-right: 29px;
    &:nth-child(1) {
      width: 44px;
      height: 44px;
    }
    &:nth-child(2) {
      width: 48px;
      height: 43px;
    }
    &:nth-child(3) {
      width: 32px;
      height: 32px;
    }
  }
  .filter__wrapper {
    max-width: 410px;
  }
  .filter__buttons {
    display: flex;
    justify-content: space-between;
    button {
      margin: 0;
    }
  }
  .button--filter {
    max-width: 183px;
  }
}
