.main-form__item {
  display: block;
  margin: 0;
  padding: 0;
  padding: 42px 20px 44px;

  border: none;
  &--gray {
    background-color: #f2f2f2;
  }
  &:first-child {
    padding-top: 0;
  }
}

.main-form__box {
  margin-bottom: 29px;
  &:last-child {
    margin-bottom: 0;
  }
}

.main-form__title {
  display: block;
  margin-bottom: 5px;
  padding-left: 23px;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #d22856;
}

.main-form__input {
  display: block;
  width: 100%;
  padding: 13px 78px 12px 20px;

  font-size: 18px;
  line-height: 30px;

  color: #283645;

  border-radius: 1px;
  border: 2px solid #e5e5e5;

  outline: none;

  transition: 0.2s;
  &::placeholder {
    color: #283645;
  }
  &--area {
    padding-right: 20px;
    resize: none;
  }
  &:hover {
    border-color: #283645;
  }
  &:focus {
    border-color: #d22856;
  }
}

.main-form__description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  color: #d22856;
}

.main-form__text {
  position: relative;

  display: block;
  padding-left: 59px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;

  color: &text-color;

  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 37px;
    height: 37px;

    border: 2px solid #e5e5e5;
    background-color: #fff;

    transform: translateY(-50%);
    transition: 0.2s;
  }
  &--value--checkbox {
    &::after {
      content: "";
      position: absolute;
      top: 6px;
      left: 7px;

      display: none;
      width: 22px;
      height: 16px;

      mask: url("../../img/icon-yes.svg");
      mask-size: auto;
      background-color: #d22856;

      transition: 0.2s;
    }
  }
  &--value--radio {
    &::before {
      border-radius: 50%;

      transition: 0.2s;
    }
    &::after {
      content: "";
      position: absolute;
      top: 7px;
      left: 11px;

      display: none;
      width: 15px;
      height: 15px;

      border-radius: 50%;
      background-color: #d22856;

      transition: 0.2s;
    }
  }
  &:hover {
    &::before {
      border-color: #283645;

      transition: 0.2s;
    }
  }
  &:active {
    &::before {
      border-color: #d22856;

      transition: 0.2s;
    }
  }
}

.main-form__box input:checked ~ .main-form__text::after {
  display: block;
}

.main-form__btn {
  margin: 0 auto;
  margin-bottom: 40px;
}

.main-form__required {
  display: block;
  margin: 0 auto;

  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: &text-color;
  span {
    color: #d22856;
  }
}

.main-form__description--hidden {
  display: none;
}

.main-form__inner {
  display: block;
  width: 100%;
}

.main-form__icon {
  display: none;
}

.main-form__hidden {
  display: none;
  color: $text-color;
}

@media (min-width: 660px) {
  .main-form {
    display: flex;
    flex-direction: column;
    max-width: 660px;
    margin: 0 auto;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 50px;
  }
  .main-form__item {
    margin-bottom: 60px;
    padding: 54px 60px;

    border: 2px solid #e5e5e5;
    &--first {
      padding: 0;
      border: none;
      order: -2;
    }
    &--second {
      order: 1;
    }
    &--third {
      order: 0;
    }
    &--fourth {
      order: -1;
    }
    &--fifth {
      order: 2;
    }
    &--gray {
      background-color: #fff;
    }
    &--info {
      .main-form__box {
        display: flex;
        flex-direction: column;
      }
      .main-form__title {
        padding-left: 20px;
        margin-top: 20px;
        margin-right: auto;
        text-align: left;
        order: 1;
      }
    }
  }
  .main-form__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 3;
  }
  .main-form__icon {
    display: block;
    fill: #d22856;
  }
  .main-form__inner {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 59px;
      height: 59px;
      background-color: #e5e5e5;
    }
    &--top {
      .main-form__icon {
        position: absolute;
        top: 18px;
        right: 18px;
      }
    }
    &--bottom {
      .main-form__icon {
        position: absolute;
        top: 22px;
        right: 19px;
      }
    }
  }
  .main-form__box {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
  }
  .main-form__title {
    padding-left: 0;
    margin-right: 20px;
  }
  .main-form__description {
    display: block;
    padding: 0 22px;
    background-color: #fff;
    br {
      display: none;
    }
  }
  .main-form__required {
    display: block;
    margin: 0;
  }
  .main-form__btn {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .main-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px 74px;
    max-width: 1200px;
    padding-left: 130px;
    padding-right: 130px;
  }
  .main-form__item {
    padding-top: 38px;
    padding-bottom: 38px;
  }
  .main-form__box {
    margin-bottom: 40px;
  }
  .main-form__item {
    margin-bottom: 0;
  }
  .main-form__item--first {
    margin-top: 8px;
    padding-bottom: 0;
  }
  .main-form__wrapper {
    display: grid;
    gap: 60px 20px;
    grid-template-columns: 1fr 1fr 1fr;
    .main-form__box {
      margin: 0;
    }
  }
  .main-form__item--third {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 3;
    padding-bottom: 10px;
    .main-form__box {
      width: 100%;
      max-width: 371px;
      margin: 0;
    }
    .main-form__title {
      margin-top: 10px;
    }
  }
  .main-form__item--second {
    grid-column: 1 / 3;
  }
  .main-form__item--fifth {
    grid-column: 1 / 3;
  }
  .main-form__item--fourth {
    padding-left: 0;
    padding-right: 0;
    .main-form__box {
      padding-left: 60px;
    }
  }
  .page__request {
    display: inline;
  }
  .main-form__description {
    padding-left: 25px;
    padding-right: 25px;
  }
  .main-form__input--area {
    height: 124px;
  }
  .main-form__footer {
    grid-column: 1 / 3;
    .main-form__hidden {
      display: inline;
      color: $text-color;
    }
  }
}
