.slider__btn {
  display: none;
}

.slider__toggles {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 45px;
}

.slider__toggle--current {
  box-sizing: content-box;
  border: 3px solid #283645;
  background-color: #fff;
}

.slider__list {
  position: relative;
}

@media (min-width: 660px) {
  .slider__toggles--features {
    display: none;
  }
}
