@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"), local("OpenSans"), url("../../fonts/opensans.woff2") format("woff2"), url("../../fonts/opensans.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"), local("OpenSans"), url("../../fonts/opensansbold.woff2") format("woff2"), url("../../fonts/opensansbold.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"), local("OpenSans"), url("../../fonts/opensanslight.woff2") format("woff2"), url("../../fonts/opensanslight.woff") format("woff"); }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

*,
*::before,
*::after {
  box-sizing: border-box; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

a {
  text-decoration: none; }

.page {
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #283645;
  background-color: #fff; }

.page__lead {
  display: block;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: .page__lead text-color; }

.page__request {
  display: none; }

.section-header {
  max-width: 320px;
  margin: 0 auto;
  padding: 50px 20px 60px; }

.button {
  display: inline-block;
  padding: 17px 20px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 29px;
  transition: 0.2s;
  cursor: pointer; }
  .button:hover, .button:focus {
    color: #d22856;
    background-color: #fff; }
  .button:active {
    color: rgba(210, 40, 86, 0.3); }
  .button--filter {
    color: #d22856;
    border-color: #d22856; }
    .button--filter:hover {
      color: #fff;
      background-color: #d22856; }
    .button--filter:active {
      color: rgba(255, 255, 255, 0.3); }
  .button--cancel {
    color: #283645;
    border-color: #283645;
    opacity: 0.1; }
    .button--cancel:hover {
      color: #283645;
      background-color: #fff;
      opacity: 0.3; }
    .button--cancel:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #283645; }

.btn {
  display: block;
  padding: 13px 45px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  background-color: #2aab6d;
  cursor: pointer;
  transition: 0.2s; }
  .btn:hover, .btn:focus {
    background-color: #1c9b5e; }
  .btn:active {
    color: rgba(255, 255, 255, 0.3); }
  .btn--disabled {
    border-color: #e5e5e5;
    background-color: #e5e5e5;
    outline: none; }
    .btn--disabled:hover, .btn--disabled:focus {
      border-color: #e5e5e5;
      background-color: #e5e5e5; }
    .btn--disabled:active {
      color: #fff; }

.logo__item {
  transition: 0.2s;
  fill: #fff; }
  .logo__item:hover {
    fill: #d22856; }

@media (min-width: 660px) {
  .section-header {
    max-width: 660px; }
  .page__lead {
    font-size: 18px; }
  .page__request {
    display: block; } }

@media (min-width: 1200px) {
  .section-header {
    max-width: 1200px;
    padding-left: 130px;
    padding-right: 130px; } }

.address {
  padding-top: 50px; }

.address__title {
  display: block;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: .address__title text-color; }

.address__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.address__item {
  margin-bottom: 30px;
  text-align: center; }

.address__lead {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: .address__lead text-color; }

.address__text {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color: #d22856; }
  .address__text--address {
    font-style: normal; }
  .address__text:hover {
    color: #283645;
    text-decoration: underline; }
  .address__text:active {
    color: rgba(40, 54, 69, 0.3);
    text-decoration: none; }

.address__wrapper {
  position: relative;
  display: block;
  max-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center; }
  .address__wrapper::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -64px;
    display: block;
    width: 100%;
    height: 35px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='595.28px' height='61.905px' viewBox='0 0 595.28 61.905' enable-background='new 0 0 595.28 61.905' xml:space='preserve'%3E%3Cpolygon fill='%23ffffff' points='297.64,61.905 0,0 595.28,0 '/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-50%);
    z-index: 1; }

.address__map iframe {
  width: 100%; }

@media (min-width: 660px) {
  .address__title {
    font-size: 40px;
    line-height: 54px; }
  .address__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .address__wrapper {
    max-width: 660px;
    padding-left: 20px;
    padding-right: 20px; }
    .address__wrapper::after {
      bottom: -69px;
      height: 70px; }
  .address__map iframe {
    height: 374px; } }

@media (min-width: 1200px) {
  .address__wrapper {
    position: relative;
    max-width: 1200px;
    padding-left: 130px;
    padding-right: 130px; }
    .address__wrapper::after {
      bottom: -124px;
      height: 125px; }
  .address__lead {
    margin-bottom: 20px; }
  .address__item:nth-child(1) {
    order: -1; }
  .address__item:nth-child(2) {
    order: 1; }
  .address__item:nth-child(3) {
    order: 0; }
  .address__map iframe {
    height: 502px; } }

.burger {
  position: relative;
  display: block;
  width: 50px;
  height: 24px;
  cursor: pointer;
  transition: 0.3s; }
  .burger::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 50px;
    height: 4px;
    border-radius: 5px;
    background-color: #fff;
    transition: 0.3s; }
  .burger::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    display: block;
    width: 50px;
    height: 4px;
    border-radius: 5px;
    background-color: #fff;
    transition: 0.3s; }
  .burger:hover .burger__item {
    background-color: #d22856; }
  .burger:hover::before {
    background-color: #d22856; }
  .burger:hover::after {
    background-color: #d22856; }
  .burger:active .burger__item {
    background-color: rgba(210, 40, 86, 0.3); }
  .burger:active::before {
    background-color: rgba(210, 40, 86, 0.3); }
  .burger:active::after {
    background-color: rgba(210, 40, 86, 0.3); }

.burger__item {
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  width: 50px;
  height: 4px;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.3s, opacity 0.1s; }

.burger--active {
  width: 30px; }
  .burger--active::before {
    width: 30px;
    border-radius: 0;
    transform: translateY(10px) rotate(45deg); }
  .burger--active::after {
    width: 30px;
    border-radius: 0;
    transform: translateY(-10px) rotate(-45deg); }
  .burger--active .burger__item {
    width: 30px;
    opacity: 0; }

@media (min-width: 1200px) {
  .burger {
    display: none; } }

.features {
  position: relative;
  padding-top: 101px;
  overflow: hidden; }
  .features::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 534px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='1200px' height='94.074px' viewBox='0 0 1200 94.074' enable-background='new 0 0 1200 94.074' xml:space='preserve'%3E%3Cpolygon fill='%23f2f2f2' points='1200,0 0,0 0,94.074 '/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    z-index: -1; }

@media (min-width: 660px) {
  .features {
    padding-bottom: 70px; }
  .features__wrapper {
    display: block;
    max-width: 660px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 1200px) {
  .features {
    padding-top: 159px; }
  .features__wrapper {
    max-width: 1200px;
    padding-left: 130px;
    padding-right: 130px; } }

.filter__form {
  padding: 20px;
  background-color: #f2f2f2; }

.filter__form--wrapper {
  max-width: 320px;
  margin: 0 auto; }

.filter__settings {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(40, 54, 69, 0.1); }

.filter__btn--submit {
  margin-bottom: 12px; }

.filter__icon {
  fill: #d22856; }

.filter__item input {
  width: 100%; }

@media (min-width: 660px) {
  .filter__form {
    padding: 0; }
  .filter__settings {
    border-bottom: none; }
  .filter__form--wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 660px;
    padding: 54px 20px;
    margin: 0 auto; }
  .filter__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 260px; }
  .filter__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid rgba(40, 54, 69, 0.1); }
    .filter__item input {
      width: 100%; }
    .filter__item:first-child {
      padding-top: 0; }
  .filter__settings {
    margin-bottom: auto; }
  .filter__image {
    width: 300px;
    height: 400px; }
  .filter__btn--submit {
    margin-bottom: 24px; }
  .filter__icon {
    margin-right: 29px; }
    .filter__icon:nth-child(1) {
      width: 22px;
      height: 22px; }
    .filter__icon:nth-child(2) {
      width: 24px;
      height: 22px; }
    .filter__icon:nth-child(3) {
      width: 16px;
      height: 16px; } }

@media (min-width: 1200px) {
  .filter__form {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #fff; }
  .filter__form--wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 60px;
    margin-left: 130px;
    margin-right: 130px;
    background-color: #f2f2f2; }
  .filter__icon {
    margin-right: 29px; }
    .filter__icon:nth-child(1) {
      width: 44px;
      height: 44px; }
    .filter__icon:nth-child(2) {
      width: 48px;
      height: 43px; }
    .filter__icon:nth-child(3) {
      width: 32px;
      height: 32px; }
  .filter__wrapper {
    max-width: 410px; }
  .filter__buttons {
    display: flex;
    justify-content: space-between; }
    .filter__buttons button {
      margin: 0; }
  .button--filter {
    max-width: 183px; } }

.intro {
  display: block;
  padding-top: 64px;
  background-color: #606079;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.intro__wrapper--diff {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto; }

.intro__slogan {
  display: block;
  padding: 0 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  color: #fff; }

.intro__button {
  margin-bottom: 30px; }

.intro__header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 36px;
  padding-bottom: 64px; }
  .intro__header--index {
    height: 396px;
    background-image: url("../../img/iphone-hand-mobile@1x.png");
    background-size: 260px;
    background-repeat: no-repeat;
    background-position: left bottom; }

.intro__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 20px 38px;
  background-color: #1d2631; }

.intro__list {
  display: flex;
  align-items: flex-end;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none; }

.intro__item {
  margin-right: 45px; }
  .intro__item:last-child {
    margin-right: 0; }

.intro__info {
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  color: #fff; }

@media (max-width: 659px) {
  .intro__slogan--bottom {
    display: none; } }

@media (min-width: 660px) {
  .intro {
    padding-top: 110px;
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-position: top center; }
  .intro__slogan {
    font-size: 40px;
    line-height: 48px;
    color: #fff; }
    .intro__slogan--top {
      display: none; }
    .intro__slogan--bottom {
      margin-bottom: 39px; }
    .intro__slogan--big {
      font-size: 50px;
      line-height: 68px; }
  .intro__info {
    font-size: 18px; }
  .intro__wrapper {
    position: relative;
    max-width: 660px;
    margin: 0 auto; }
  .intro__inner {
    position: absolute;
    left: 0;
    bottom: 119px;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 340px;
    background-color: transparent; }
  .intro__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 440px; }
  .intro__header--index {
    height: 619px;
    background-image: url("../../img/iphone-hand-tablet@1x.png");
    background-size: 660px;
    background-position: right -26px bottom; }
  .intro__button {
    margin-bottom: 46px; } }

@media (min-width: 1200px) {
  .intro {
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-position: top center; }
  .intro__slogan {
    line-height: 68px; }
  .intro__inner {
    max-width: 430px;
    padding-left: 130px;
    padding-right: 0; }
  .intro__list {
    margin-bottom: 50px; }
  .intro__wrapper {
    max-width: 1200px;
    padding-left: 130px;
    padding-right: 130px;
    margin: 0 auto; }
    .intro__wrapper--diff .intro__header {
      height: 284px;
      padding-top: 50px; }
  .intro__header--index {
    height: 719px;
    background-image: url("../../img/iphone-hand-desktop@1x.png");
    background-size: 1055px;
    background-position: right -125px bottom; }
  .intro__button {
    margin-bottom: 85px; } }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .intro {
    background-image: url("../../img/bg-back-mobile@2x.jpg"); }
  .intro__header--index {
    background-image: url("../../img/iphone-hand-mobile@2x.png"); } }

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 660px), (min-resolution: 2dppx) and (min-width: 660px) {
  .intro {
    background-image: url("../../img/bg-back-tablet@2x.jpg"); }
  .intro__header--index {
    background-image: url("../../img/iphone-hand-tablet@2x.png");
    background-size: 660px; } }

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .intro {
    background-image: url("../../img/bg-back-desktop@2x.jpg"); }
  .intro__header--index {
    background-image: url("../../img/iphone-hand-desktop@2x.png");
    background-size: 1055px;
    background-position: right -125px bottom; } }

.main-form__item {
  display: block;
  margin: 0;
  padding: 0;
  padding: 42px 20px 44px;
  border: none; }
  .main-form__item--gray {
    background-color: #f2f2f2; }
  .main-form__item:first-child {
    padding-top: 0; }

.main-form__box {
  margin-bottom: 29px; }
  .main-form__box:last-child {
    margin-bottom: 0; }

.main-form__title {
  display: block;
  margin-bottom: 5px;
  padding-left: 23px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #d22856; }

.main-form__input {
  display: block;
  width: 100%;
  padding: 13px 78px 12px 20px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border-radius: 1px;
  border: 2px solid #e5e5e5;
  outline: none;
  transition: 0.2s; }
  .main-form__input::-moz-placeholder {
    color: #283645; }
  .main-form__input::placeholder {
    color: #283645; }
  .main-form__input--area {
    padding-right: 20px;
    resize: none; }
  .main-form__input:hover {
    border-color: #283645; }
  .main-form__input:focus {
    border-color: #d22856; }

.main-form__description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #d22856; }

.main-form__text {
  position: relative;
  display: block;
  padding-left: 59px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: .main-form__text text-color;
  cursor: pointer; }
  .main-form__text::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 37px;
    height: 37px;
    border: 2px solid #e5e5e5;
    background-color: #fff;
    transform: translateY(-50%);
    transition: 0.2s; }
  .main-form__text--value--checkbox::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 7px;
    display: none;
    width: 22px;
    height: 16px;
    -webkit-mask: url("../../img/icon-yes.svg");
            mask: url("../../img/icon-yes.svg");
    -webkit-mask-size: auto;
            mask-size: auto;
    background-color: #d22856;
    transition: 0.2s; }
  .main-form__text--value--radio::before {
    border-radius: 50%;
    transition: 0.2s; }
  .main-form__text--value--radio::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 11px;
    display: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d22856;
    transition: 0.2s; }
  .main-form__text:hover::before {
    border-color: #283645;
    transition: 0.2s; }
  .main-form__text:active::before {
    border-color: #d22856;
    transition: 0.2s; }

.main-form__box input:checked ~ .main-form__text::after {
  display: block; }

.main-form__btn {
  margin: 0 auto;
  margin-bottom: 40px; }

.main-form__required {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: .main-form__required text-color; }
  .main-form__required span {
    color: #d22856; }

.main-form__description--hidden {
  display: none; }

.main-form__inner {
  display: block;
  width: 100%; }

.main-form__icon {
  display: none; }

.main-form__hidden {
  display: none;
  color: #283645; }

@media (min-width: 660px) {
  .main-form {
    display: flex;
    flex-direction: column;
    max-width: 660px;
    margin: 0 auto;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 50px; }
  .main-form__item {
    margin-bottom: 60px;
    padding: 54px 60px;
    border: 2px solid #e5e5e5; }
    .main-form__item--first {
      padding: 0;
      border: none;
      order: -2; }
    .main-form__item--second {
      order: 1; }
    .main-form__item--third {
      order: 0; }
    .main-form__item--fourth {
      order: -1; }
    .main-form__item--fifth {
      order: 2; }
    .main-form__item--gray {
      background-color: #fff; }
    .main-form__item--info .main-form__box {
      display: flex;
      flex-direction: column; }
    .main-form__item--info .main-form__title {
      padding-left: 20px;
      margin-top: 20px;
      margin-right: auto;
      text-align: left;
      order: 1; }
  .main-form__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 3; }
  .main-form__icon {
    display: block;
    fill: #d22856; }
  .main-form__inner {
    position: relative; }
    .main-form__inner::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 59px;
      height: 59px;
      background-color: #e5e5e5; }
    .main-form__inner--top .main-form__icon {
      position: absolute;
      top: 18px;
      right: 18px; }
    .main-form__inner--bottom .main-form__icon {
      position: absolute;
      top: 22px;
      right: 19px; }
  .main-form__box {
    display: flex;
    align-items: center;
    margin-bottom: 56px; }
  .main-form__title {
    padding-left: 0;
    margin-right: 20px; }
  .main-form__description {
    display: block;
    padding: 0 22px;
    background-color: #fff; }
    .main-form__description br {
      display: none; }
  .main-form__required {
    display: block;
    margin: 0; }
  .main-form__btn {
    margin: 0; } }

@media (min-width: 1200px) {
  .main-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px 74px;
    max-width: 1200px;
    padding-left: 130px;
    padding-right: 130px; }
  .main-form__item {
    padding-top: 38px;
    padding-bottom: 38px; }
  .main-form__box {
    margin-bottom: 40px; }
  .main-form__item {
    margin-bottom: 0; }
  .main-form__item--first {
    margin-top: 8px;
    padding-bottom: 0; }
  .main-form__wrapper {
    display: grid;
    gap: 60px 20px;
    grid-template-columns: 1fr 1fr 1fr; }
    .main-form__wrapper .main-form__box {
      margin: 0; }
  .main-form__item--third {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 3;
    padding-bottom: 10px; }
    .main-form__item--third .main-form__box {
      width: 100%;
      max-width: 371px;
      margin: 0; }
    .main-form__item--third .main-form__title {
      margin-top: 10px; }
  .main-form__item--second {
    grid-column: 1 / 3; }
  .main-form__item--fifth {
    grid-column: 1 / 3; }
  .main-form__item--fourth {
    padding-left: 0;
    padding-right: 0; }
    .main-form__item--fourth .main-form__box {
      padding-left: 60px; }
  .page__request {
    display: inline; }
  .main-form__description {
    padding-left: 25px;
    padding-right: 25px; }
  .main-form__input--area {
    height: 124px; }
  .main-form__footer {
    grid-column: 1 / 3; }
    .main-form__footer .main-form__hidden {
      display: inline;
      color: #283645; } }

.main-nav {
  display: block; }

.main-nav__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
  padding: 22px 20px;
  background-color: #283645;
  box-shadow: 0px 1px 0px #000000; }

.main-nav__header--close {
  margin-bottom: 0;
  background-color: transparent;
  box-shadow: none; }

@media (min-width: 660px) {
  .main-nav {
    background-color: #283645; }
  .main-nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
    height: 110px;
    padding: 22px 20px; } }

@media (min-width: 1200px) {
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 130px;
    padding-right: 130px; }
  .main-nav__header {
    max-width: 150px;
    margin: 0;
    padding: 0; }
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 620px; }
  .main-nav__header--close {
    background-color: transparent; } }

.offers__header {
  max-width: 320px;
  margin: 0 auto;
  padding: 46px 20px;
  text-align: center; }

.offers__title {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 300; }

.offers__box {
  position: relative; }
  .offers__box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 828px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='1200px' height='94.074px' viewBox='0 0 1200 94.074' enable-background='new 0 0 1200 94.074' xml:space='preserve'%3E%3Cpolygon fill='%23f2f2f2' points='1200,0 0,0 0,94.074 '/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    z-index: -1; }

.offers__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px; }
  .offers__wrapper::before {
    content: "";
    display: block;
    width: 157px;
    height: 320px;
    margin: 0 auto;
    background-image: url("../../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    order: 1; }
  .offers__wrapper--effect {
    display: none; }

.offers__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.offers__item {
  margin-bottom: 40px;
  text-align: center; }

.offers__lead {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000; }

.offers__text {
  font-size: 14px;
  line-height: 24px;
  color: #283645; }

@media (min-width: 660px) {
  .offers__header {
    max-width: 660px;
    padding-left: 36px;
    padding-right: 36px; }
  .offers__title {
    font-size: 40px;
    line-height: 54px; }
    .offers__title br:nth-child(2) {
      display: none; }
  .offers__box::before {
    height: 574px; }
  .offers__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 660px;
    padding-top: 0;
    padding-bottom: 27px; }
    .offers__wrapper::before {
      width: 268px;
      height: 547px;
      background-image: url("../../img/iphone-screen-mobile@2x.png");
      order: -1; }
  .offers__wrapper--effect {
    display: block;
    padding-top: 54px;
    padding-bottom: 15px;
    background-color: #fff; }
    .offers__wrapper--effect::before {
      display: none; }
  .offers__info {
    max-width: 310px; }
  .offers__effect {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .offers__list {
    max-width: 310px;
    margin-left: auto; }
  .offers__item {
    text-align: left; }
  .offers__lead--big {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000; }
  .offers__link {
    display: block;
    margin-top: 14px;
    text-decoration: underline;
    color: #d22856; } }

@media (min-width: 1200px) {
  .offers__header {
    max-width: 1200px;
    padding-left: 130px;
    padding-right: 130px; }
  .offers__title {
    font-size: 50px;
    line-height: 68px; }
  .offers__wrapper {
    max-width: 1200px;
    padding-left: 130px;
    padding-right: 130px; }
    .offers__wrapper::before {
      display: none; }
    .offers__wrapper--effect {
      padding-top: 0;
      padding-bottom: 67px;
      background-color: #F2F2F2; }
  .offers__list {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-left: 0;
    flex-grow: 1; }
  .offers__item {
    text-align: center;
    max-width: 300px;
    padding-left: 30px;
    padding-right: 30px; }
    .offers__item::before {
      content: "";
      display: block;
      height: 300px; }
    .offers__item:nth-child(1)::before {
      background-image: url("../../img/iphone-screen-1-desktop@1x.png");
      background-size: 100%;
      background-repeat: no-repeat; }
    .offers__item:nth-child(2)::before {
      background-image: url("../../img/iphone-screen-2-desktop@1x.png");
      background-size: 100%;
      background-repeat: no-repeat; }
    .offers__item:nth-child(3)::before {
      background-image: url("../../img/iphone-screen-3-desktop@1x.png");
      background-size: 100%;
      background-repeat: no-repeat; }
  .offers__lead {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px; }
  .offers__text {
    font-size: 18px;
    line-height: 30px; }
  .offers__icon {
    width: 298px;
    height: 345px;
    margin-right: 71px; }
  .offers__lead--big br {
    display: none; }
  .offers__box::before {
    height: 990px; }
  .offers__info {
    max-width: 534px; } }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .offers__wrapper::before {
    background-image: url("../../img/iphone-screen-mobile@2x.png"); } }

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .offers__item:nth-child(1)::before {
    background-image: url("../../img/iphone-screen-1-desktop@2x.png"); }
  .offers__item:nth-child(2)::before {
    background-image: url("../../img/iphone-screen-2-desktop@2x.png"); }
  .offers__item:nth-child(3)::before {
    background-image: url("../../img/iphone-screen-3-desktop@2x.png"); } }

.page-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.page-main {
  margin-top: -70px; }

@media (min-width: 660px) {
  .page-main {
    margin-top: -110px; } }

.photos__item {
  position: relative;
  margin-bottom: 20px; }
  .photos__item:last-child {
    margin-bottom: 0; }
  .photos__item--full {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .photos__item--full img {
      width: 100%; }
    .photos__item--full .photos__most-liked {
      right: 20px; }
    .photos__item--full .photos__info {
      max-width: 280px;
      margin: 0 auto; }

.photos__most-liked {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 4px 20px;
  font-size: 12px;
  line-height: 24px;
  border-color: #d22856;
  background-color: #d22856;
  cursor: auto; }
  .photos__most-liked:hover {
    background-color: #d22856; }

.photos__info {
  padding: 25px 10px 25px 17px;
  background-color: #f2f2f2; }

.photos__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: .photos__author text-color; }

.photos__wrapper {
  display: block;
  padding: 0 20px;
  max-width: 320px;
  margin: 0 auto; }

.photos__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase; }

.photos__text {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 24px;
  color: .photos__text text-color; }

.photos__rating {
  display: flex;
  align-items: center; }

.photos__liked {
  margin-left: 18px;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856; }

.photos__icon {
  fill: #d22856; }

@media (min-width: 660px) {
  .photos__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 660px;
    margin: 0 auto; }
  .photos__info {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px; }
  .photos__rating {
    display: flex;
    margin-top: auto; }
  .photos__liked {
    margin: 0; }
  .photos__icon {
    margin-left: auto;
    order: 1; }
  .photos__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0; }
    .photos__item--full {
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto; }
      .photos__item--full .photos__info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 620px; }
      .photos__item--full .photos__most-liked {
        top: 57px; }
      .photos__item--full .photos__author {
        max-width: 150px;
        order: -2; }
      .photos__item--full .photos__rating {
        margin-left: auto;
        order: -1; }
      .photos__item--full .photos__icon {
        margin-left: 16px; } }

@media (min-width: 1200px) {
  .photos__item--full .photos__most-liked {
    top: 54px;
    right: 130px; }
  .photos__item--full .photos__info {
    max-width: 940px; }
  .photos__wrapper {
    max-width: 1200px;
    padding-left: 130px;
    padding-right: 130px;
    grid-template-columns: 1fr 1fr 1fr; } }

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.popup__body {
  display: block;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 1px; }

.popup__header {
  display: block;
  padding: 44px 20px 44px; }

.popup__title {
  margin-bottom: 37px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000; }

.popup__footer {
  padding: 52px 20px; }

.popup__btn {
  width: 100%; }

.popup__text {
  font-size: 14px;
  line-height: 24px;
  color: .popup__text text-color; }

.popup--ok {
  display: none; }
  .popup--ok .popup__footer {
    background: #f2f2f2; }

.popup--error {
  display: none; }
  .popup--error .popup__header {
    padding-bottom: 0; }

.popup--toggle {
  display: block; }

@media (min-width: 660px) {
  .popup__body {
    min-width: 460px; }
  .popup__header {
    padding-left: 65px;
    padding-right: 65px; }
  .popup__title {
    font-size: 30px;
    line-height: 40px; }
  .popup__footer {
    padding-left: 65px;
    padding-right: 65px; } }

@media (min-width: 1200px) {
  .popup {
    width: 100%;
    max-width: 780px; }
  .popup__header {
    margin-bottom: 68px;
    padding-left: 214px;
    padding-right: 214px; }
  .popup__footer {
    padding: 52px 242px;
    background-color: #F2F2F2; }
  .popup--ok .popup__header {
    padding-left: 192px;
    padding-right: 192px;
    margin-bottom: 0; }
  .popup--ok .popup__title {
    margin-bottom: 20px; }
  .popup--ok .popup__footer {
    padding-left: 162px;
    padding-right: 162px; } }

.reviews {
  margin-top: -43px;
  padding-top: 50px;
  background-color: #fff; }

.reviews__wrapper {
  display: block;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px; }

.reviews__item {
  display: block;
  margin: 0; }
  .reviews__item:nth-child(3) {
    margin-bottom: 0; }

.reviews__list {
  text-align: center; }

.reviews__author-info {
  margin-bottom: 20px; }

.reviews__lead {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: #000; }

.reviews__description {
  display: none; }

.reviews__text {
  line-height: 30px;
  color: .reviews__text text-color; }

@media (min-width: 660px) {
  .reviews {
    padding-top: 0;
    margin-top: 0; }
  .reviews__wrapper {
    max-width: 660px;
    margin: 0 auto; }
  .reviews__item {
    display: flex;
    flex-direction: column; }
  .reviews__text {
    margin-bottom: 30px;
    font-size: 18px; }
  .reviews__author-info {
    order: 1; }
  .reviews__description {
    display: block; } }

@media (min-width: 1200px) {
  .reviews__wrapper {
    max-width: 1200px;
    padding-top: 72px;
    padding-left: 130px;
    padding-right: 130px; }
  .reviews__list {
    max-width: 960px;
    margin: 0 auto; }
  .reviews__lead {
    font-size: 24px;
    line-height: 30px; }
  .reviews__description {
    font-size: 18px;
    line-height: 30px; }
  .reviews__item {
    padding-left: 126px;
    padding-right: 126px; }
    .reviews__item::before {
      content: "";
      display: block;
      margin: 0 auto;
      margin-bottom: 50px;
      width: 79px;
      height: 63px;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='78.672px' height='63.789px' viewBox='0 0 78.672 63.789' enable-background='new 0 0 78.672 63.789' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23EFEFEF' d='M34.967,7.063L30.713,0C28.272,1.495,0,12.207,0,39.617c0,7.231,0.336,24.172,18.9,24.172 c11.187,0,13.94-10.279,13.94-13.584c0-21.977-21.382-14.177-21.382-14.177C11.458,17.957,31.263,9.184,34.967,7.063z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23EFEFEF' d='M78.672,7.063L74.418,0c-2.44,1.495-30.713,12.207-30.713,39.617c0,7.231,0.337,24.172,18.9,24.172 c11.187,0,13.939-10.279,13.939-13.584c0-21.977-21.381-14.177-21.381-14.177C55.165,17.957,74.969,9.184,78.672,7.063z'/%3E%3C/g%3E%3C/svg%3E%0A"); } }

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }

.site-list--close {
  display: none; }

.site-list__item {
  margin-bottom: 1px;
  background: #283645;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.15), 0 1px 0 #000; }

.site-list__link {
  display: block;
  padding: 20px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s; }
  .site-list__link:hover, .site-list__link:focus {
    color: #d22856; }
  .site-list__link:active {
    color: rgba(255, 255, 255, 0.3); }

@media (min-width: 1200px) {
  .site-list--close {
    display: block; }
  .site-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
  .site-list__item {
    margin-right: 78px;
    background-color: transparent;
    box-shadow: none; }
    .site-list__item:last-child {
      margin-right: 0; }
    .site-list__item--active .site-list__link {
      position: relative;
      cursor: default; }
      .site-list__item--active .site-list__link:hover {
        color: #fff; }
      .site-list__item--active .site-list__link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -19px;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff; }
  .site-list__link {
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer; } }

.slider__toggles {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 45px; }

.slider__toggle--current {
  box-sizing: content-box;
  border: 3px solid #283645;
  background-color: #fff; }

.slider__list {
  position: relative; }

.slider__arrow {
  display: block;
  width: 22px;
  height: 41px;
  border: none;
  background-color: transparent;
  z-index: 999;
  outline: none;
  cursor: pointer; }
  .slider__arrow--left {
    position: absolute;
    top: 50%;
    left: 0;
    background-image: url("../../img/icon-review-arrow-left.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-50%);
    opacity: 0.3; }
  .slider__arrow--right {
    position: absolute;
    top: 50%;
    right: 0;
    background-image: url("../../img/icon-review-arrow-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-50%);
    opacity: 0.3; }

.slick-initialized .slick-slide {
  display: flex !important; }

@media (max-width: 660px) {
  .slick-initialized .slick-slide {
    flex-direction: column; } }

@media (min-width: 660px) {
  .slider__toggles--features {
    display: none; } }

.social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.social__item {
  margin-right: 9px; }
  .social__item:last-child {
    margin-right: 0; }

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  border: 3px solid rgba(40, 54, 69, 0.1);
  transition: 0.2s; }
  .social__link:hover {
    border-color: #283645; }
  .social__link:active {
    border-color: rgba(40, 54, 69, 0.1); }
    .social__link:active .social__icon {
      opacity: 0.3; }

.social__icon {
  fill: #d22856; }

.table {
  margin: 0 auto;
  border-collapse: collapse; }

.table__element--hidden {
  display: none; }

.table__title {
  width: 100%;
  padding: 19px 39px 16px 38px;
  border: 1px solid #e5e5e5;
  background-color: #283645; }
  .table__title--popular {
    position: relative;
    overflow: hidden; }
    .table__title--popular::before {
      content: "ХИТ";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100px;
      height: 23px;
      padding-top: 4px;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      color: #fff;
      background-color: #d22856;
      transform: translate(-25px, 15px) rotate(-45deg); }
  .table__title--transparent {
    margin-left: -1px;
    margin-right: 1px;
    border: none;
    background-color: #f2f2f2; }

.table__line {
  display: flex;
  justify-content: space-between;
  border-radius: 5px 0 0 0;
  background-color: #fff;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5; }
  .table__line:last-child {
    border-bottom: 1px solid #e5e5e5; }

.table__lead {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff; }

.table__price {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: #fff; }

.table__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 175px;
  padding: 15px 20px;
  border: 1px solid #e5e5e5; }

.table__value {
  justify-content: center; }

.table__element {
  line-height: 30px;
  text-transform: uppercase;
  color: .table__element text-color; }

.table__icon--yes {
  fill: #3dc644; }

.table__icon--no {
  fill: #f25b26; }

@media (max-width: 659px) {
  .table--samll-hidden {
    display: none; }
  .table__element--hidden {
    display: block; }
  .table__item {
    min-width: 280px;
    justify-content: space-between; } }

@media (min-width: 660px) {
  .table {
    width: 100%;
    margin: 0; }
  .table__title {
    padding-right: 34px;
    padding-left: 33px; }
  .table__item {
    padding: 15px 15px;
    text-transform: unset;
    min-width: 155px; } }

@media (min-width: 1200px) {
  .table {
    margin: 0;
    width: 100%; }
  .table__item {
    padding: 15px 22px;
    min-width: 235px;
    font-size: 18px;
    text-transform: unset; } }

.copyright {
  display: flex;
  align-items: center; }
  .copyright:hover .copyright__icon {
    fill: #283645; }
  .copyright:hover .copyright__text {
    color: #283645; }
  .copyright:active .copyright__icon {
    fill: rgba(40, 54, 69, 0.3); }
  .copyright:active .copyright__text {
    color: #283645; }

.copyright__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #283645; }

.copyright__icon {
  margin-left: 15px;
  fill: #d22856;
  transition: 0.2s; }

.logo {
  width: 74px;
  height: auto; }

.logo__item {
  transition: 0.2s;
  fill: #fff; }
  .logo__item:hover, .logo__item:focus {
    fill: #d22856; }
  .logo__item:active {
    fill: #fff;
    opacity: 0.3; }

.logo__tablet {
  display: none; }

.logo__desktop {
  display: none; }

@media (min-width: 660px) {
  .logo {
    width: 145px;
    height: 40px; }
  .logo__mobile {
    display: none; }
  .logo__tablet {
    display: block; }
  .logo__desktop {
    display: none; } }

@media (min-width: 1200px) {
  .logo {
    width: 147px;
    height: auto; }
  .logo__tablet {
    display: none; }
  .logo__desktop {
    display: block; } }

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px; }

.page-footer__logo {
  display: block;
  height: auto;
  margin-bottom: 40px;
  width: 145px; }

.page-footer__list {
  margin-bottom: 40px; }

@media (min-width: 660px) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 660px; }
  .page-footer__list {
    margin-bottom: 0; }
  .page-footer__logo {
    margin-bottom: 0; } }

@media (min-width: 1200px) {
  .page-footer__wrapper {
    max-width: 1200px;
    padding-left: 130px;
    padding-right: 130px; } }

/*# sourceMappingURL=style.css.map */
